.card{
    border: 1px solid lightgray;
    margin: 50px auto;
    border-radius: 14px;
    width: 280px;
}

.card-img{
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.card-body{
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* }-------------------------------------------------------------------------------------------------------------------------------- */

.heading{
    width:30%;
    margin: 50px auto;
    background-color: rgb(2, 228, 153);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 8px;
    padding: 50px;

}

.btn{

    border: none;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 60px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;

}

.para{
    font-weight:600;
}

/* -------------------------------------------------------------------------------------------------------------------- */

.profile{

    border: 1px solid lightgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    width: 35%;
    margin: 100px auto; 
    height: 460px;
    box-sizing: border-box;
    
    
}

.Head{

    padding-left: 30px;
    font-weight: 500;
    color: rgb(97, 95, 95);
}

.Paragraph{

    padding-left: 30px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(128, 128, 128);
}

.ash-img{

    width :20%;
    border-radius: 500px;
    padding: 60px;

}

.kar-img{

    width :20%;
    border-radius: 500px;
    padding: 60px;
}

.line{
   
    border-top: 1.5px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1.5px solid rgba(129, 129, 129, 0.3);
}

.link{
    padding-left: 30px;
    font-weight: 600;
    color: rgb(61, 105, 248);
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */

.photos{
    width: 30%;
    border: 1px solid lightgrey;
    border-radius: 15px;
    margin: 50px auto;
   
}

.child-img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 20px;
}

.sub{
    margin-top: 5px; 
}


.para-photo{
    margin-bottom: 30px;
}


.btn1{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    background-color: white;
    color: rgb(45, 127, 251);
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

.body-photo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20px;
    margin-bottom: 30px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.flow{
    
   
    width: 30%;
    margin: 50px auto;
    font-family: Arial, Helvetica, sans-serif; 
      
}

.flo{
    width:180px;
    padding-left: 140px;
    padding-top: 50px;
}
.welcome{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.flowbutton{
    margin-left: 30px;
}

.mail{
    border: 1px solid lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    width: 350px;
    margin-bottom: 10px;
    
}

.pass{
    border: 1px solid lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    width: 350px;
    margin-bottom: 30px;
}

.flo-btn{
    border-radius: 30px;
    font-size: 15px;
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 70px;
    padding-right: 70px;
    margin-left: 70px;

}

.nam{
    margin-left: 150px;
    color: rgb(120, 120, 120);
    margin-top: 50px;
    font-size: 15px;
    margin-bottom: 5px;
    
}

.under{
    color: black;
    font-weight:500 ;
}

.forget{
    margin-left: 155px;
    margin-top: 10px;
    font-weight: 500;
}

.terms{
    font-size: smaller;
    text-align: center;
    color: rgb(120, 120, 120);
    margin-bottom: 50px;
    margin-top: 50px;
}

::placeholder{
    font-weight: 600;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */